@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");
* {
  font-family: "Cardo", serif;
}
html {
  margin: 0;
}
body {
  margin: 0px;
  background-color: black;
}
nav {
  padding-top: 10px;
}
a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav > :first-child {
  margin-left: 15px;
}
path {
  stroke: white;
  stroke-width: 0.5px;
  fill: white;
}
.title {
  margin: 0;
  padding: 10px 0;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 18px;
}
button {
  width: 115px;
  padding: 6px 0;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 10px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 176);
  transition: all 0.3s;
}
.details {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  width: 250px;
  height: 70px;
  padding: 15px;
  border-radius: 10px;
  opacity: 0.9;
  background-color: rgb(34, 34, 34);
  color: white;
}
.country {
  margin: 0 0 6px 0;
  font-size: 20px;
  font-weight: 700;
}
.population {
  margin: 0;
  font-size: 18px;
}
.graph {
  position: absolute;
  bottom: 15px;
  left: 15px;
  visibility: hidden;
  border-radius: 10px;
  opacity: 0.9;
  background-color: rgb(34, 34, 34);
  color: white;
}
.line {
  fill: none;
  stroke: yellow;
  stroke-width: 2.5px;
}
.active-link {
  pointer-events: none;
  color: gray;
}
.disabled-btn {
  pointer-events: none;
  cursor: default;
}
